@import '../../styles/mixin.scss';

.header {
	display: flex;
	flex-direction: column;
	padding: clamp(20px, calc(var(--index) * 3), 35px) 20px 0 20px;
	margin-bottom: calc(var(--index) * 2);
	.header_title {
		font-size: clamp(14px, calc(var(--index) * 3), 32px);
		font-weight: 500;
		color: var(--grey-400);
	}
	.header_nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include responsive(padding-top, 15, 2, 20);
	}
}

@media screen and (min-width: 960px) {
	.header {
		padding: 35px 250px 0;
	}
}
