$width: 350px;

.navigation {
	position: absolute;
	left: calc(50% - ($width / 2));
	bottom: 30px;
	height: 45px;
	min-width: $width;
	display: flex;
	align-items: center;
	justify-content: space-between;
	> button {
		padding: 21.5px 5px;
		border-radius: 25px;
	}
}

.right {
	justify-content: right;
}
