@import '@/styles/mixin.scss';

.total_sum {
	font-size: clamp(0.75rem, calc(var(--index) * 2.2), 1.25rem);
	font-weight: 600;
}

.basket_wrapper {
	width: 100%;
	display: grid;
	gap: 15px;
	align-content: flex-start;
	justify-self: center;
}

.empty_text {
	padding: 0 20px;
	color: var(--grey-400);
	text-align: center;
}

.basket {
	position: relative;
	display: grid;
	grid-template-rows: min-content min-content;
	width: 100%;
	height: var(--height-layout);
	overflow-y: scroll;
	padding: 1px 20px;
}

@media screen and (min-width: 800px) {
	.basket_wrapper {
		justify-self: end;
		padding-bottom: 10px;
	}
	.basket {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: min-content;
		gap: 50px;
	}
}

@media screen and (min-width: 1200px) {
	.basket_wrapper {
		justify-self: end;
		padding-bottom: 10px;
	}
	.basket {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: min-content;
		gap: 50px;
	}
}

@include padding-desktop('.basket', 1px);
