{
	"trailingComma": "es5",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/components$",
		"^@/redux/(.*)$",
		"^@/services/(.*)$",
		"^@/utils/(.*)$",
		"^@/@types/(.*)$",
		"^@/@types$",
		"^../(.*)",
		"^./(.*)",
		"(.scss)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
