.button_wrapper {
	display: flex;
	max-width: 100px;
	max-height: 26px;
	justify-content: center;
	align-items: center;
	padding: 6px clamp(10px, calc(var(--index) * 1.4), 15px);
	border-radius: 20px;
	background: var(--accent);
	cursor: pointer;
	p {
		font-size: 0.625rem;
		margin-right: 5px;
	}
}

.button_big {
	max-width: 120px;
	min-width: 100px;
	max-height: 30px;
	button {
		padding: 15px 18px !important;
	}
	p {
		font-size: 0.8125rem;
	}
}

.button_active {
	background: var(--accent-dark);
	align-items: center;
	border-radius: 20px;
	cursor: pointer;
	padding: 0;
	p {
		text-align: center;
		width: 15px;
		margin-right: 0;
	}
	button {
		position: relative;
		background: none;
		border: none;
		width: 10px;
		height: 10px;
		cursor: pointer;
		padding: 13px 18px;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: calc(50% - 3px);
			border-top: 1px solid var(--black);
			width: 9px;
		}
	}
	.plus {
		&:after {
			content: '';
			position: absolute;
			display: block;
			top: 50%;
			left: calc(50% - 3px);
			border-top: 1px solid var(--black);
			width: 9px;
			transform: rotate(90deg);
		}
	}
}
