.button_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  border-radius: 20px;
  background: var(--accent);
  cursor: pointer;

  p {
    font-size: 10px;
    margin-right: 10px;
  }
}