.layout {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: grid;
	grid-template-rows: min-content 1fr 80px;
	overflow: hidden;
	footer {
		padding-top: 15px;
		justify-self: center;
	}
}
