@import '../../styles/mixin.scss';

.card {
	position: relative;
	display: block;
	border-radius: 20px;
	overflow: hidden;
	outline: 1px solid var(--grey);
	background: #ffffff;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);
	transition: box-shadow 0.3s;

	> a {
		cursor: pointer;
	}

	&:hover {
		box-shadow: none;
	}
}

.product_img {
	cursor: pointer;
}

.info_wrapper {
	position: absolute;
	display: block;
	background: white;
	overflow: hidden;

	.product_brand {
		color: var(--grey-400);
		text-align: center;
	}
	.product_name {
		font-weight: 600;
		text-align: center;
	}
	.info_bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.volume {
			font-size: 0.75rem;
			color: var(--grey-400);
		}
	}
	.price {
		font-size: 0.8125rem;
		font-weight: 600;
	}
}

.horizontal {
	height: 100px;
	max-width: 400px;

	.info_wrapper {
		width: 75%;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 12px 10px 12px 10px;
	}
	.product_name {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	.product_img {
		height: 100%;
	}
}

.vertical {
	.info_wrapper {
		right: 0;
		left: 0;
		bottom: 0;
		border-radius: 20px;
		padding: 7px 10px 10px 10px;
		.product_name {
			transform: translateY(calc(var(--index) * -0.1));
		}
		.info_bottom {
			margin-top: 0.75rem;
		}
	}
	.product_img {
		width: 100%;
	}
}

@include screen-phone {
	.vertical {
		height: 250px;
		.product_brand {
			font-size: 0.6875rem;
		}
		.product_name {
			font-size: 0.875rem;
		}
		.info_bottom {
			.volume {
				font-size: 0.6875rem;
			}
		}
	}
	.horizontal {
		.product_brand {
			font-size: 0.75rem;
		}
		.product_name {
			font-size: 0.875rem;
			transform: translateY(-2px);
		}
	}
}

@include screen-large-phone {
	.vertical {
		height: 260px;
		.product_brand {
			font-size: 0.75rem;
		}
		.product_name {
			font-size: 0.875rem;
		}
		.info_bottom {
			.volume {
				font-size: 0.75rem;
			}
		}
	}
	.horizontal {
		.product_brand {
			font-size: 0.875rem;
		}
		.product_name {
			font-size: 1rem;
			transform: translateY(-2px);
		}
		.price {
			font-size: 0.875rem;
		}
	}
}

@include screen-laptop {
	.vertical {
		.product_name {
			font-size: 0.9375rem;
		}
	}
}
