@import '@/styles/mixin.scss';

.wrapper {
	display: grid;
	gap: 15px;
	height: auto;
	grid-template-columns: repeat(
		auto-fit,
		clamp(170px, calc(var(--index) * 16), 210px) //200px
	);
	grid-template-rows: min-content;
	justify-content: center;
	padding: 10px 20px;
	overflow-y: scroll;
}

.empty_text {
	color: var(--grey-400);
	text-align: center;
	font-size: 1.5rem;
}

@include padding-desktop('.wrapper', 10px);
