$transformX: translateX(-20px);

.tabs {
	display: flex;
	padding: 0 20px 20px 20px;
	transform: $transformX;
	width: 100vw;
	overflow-y: hidden;
	&:last-child {
		transform: $transformX translateY(-5px);
	}
}
