* {
    margin: 0;
    padding: 0;
    color: var(--black);
    font-weight: 400;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    background: #F8F8F8;
}

:root {
    --accent: #FFEED3;
    --accent-dark: #FFC979;
    --grey: #E9E9E9;
    --grey-dark: #CFCFCF;
    --black: #1E1E1E;
}