@import '../../styles/mixin.scss';
$size: 60px;

.menu_wrapper {
	@include responsive(width, 180px, 10, 200px);
	@include responsive(grid-template-rows, 30px, 4.5, 45px);
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	border-radius: 25px;
	background: #fff;
	outline: 1px solid var(--grey);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);

	> * {
		justify-self: center;
	}

	img {
		vertical-align: middle;
		@include responsive(width, 22px, 3, 26px);
		@include responsive(height, 22px, 3, 26px);
	}
}

.basket_btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--accent);
	@include responsive(height, 30px, 6.5, $size);
	@include responsive(width, 30px, 6.5, $size);
	border-radius: 50%;

	span {
		position: absolute;
		right: 10px;
		top: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: var(--red);
		font-size: 0.5938rem;
	}
}
