@import '../../styles/mixin.scss';
$size: 60px;

.menu_wrapper {
	width: 200px;
	grid-template-rows: 45px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	background: #fff;
	outline: 1px solid var(--grey);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);

	> * {
		justify-self: center;
		z-index: 1;
	}

	img {
		vertical-align: middle;
		width: 26px;
		height: 26px;
	}
}

.basket_btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--accent);
	height: $size;
	width: $size;
	border-radius: 50%;

	span {
		position: absolute;
		right: 10px;
		top: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: var(--red);
		font-size: 0.5938rem;
	}
}

@include screen-phone {
	.menu_wrapper {
		width: 180px;
		grid-template-rows: 40px;
		img {
			width: 24px;
			height: 24px;
		}
	}
	.basket_btn {
		width: 52px;
		height: 52px;
	}
}
